LightMaster.xcodeproj/project.xcworkspace/xcshareddata/LightMaster.xccheckout
LightMaster.xcodeproj/project.xcworkspace/xcuserdata/James.xcuserdatad/UserInterfaceState.xcuserstate
LightMaster.xcodeproj/xcuserdata/James.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist